@import './foundation/mixin';
@import './foundation/veribles';
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Livvic';
      font-weight: 600;
      text-decoration: none;
      list-style: none;
}
body{
      overflow-x: hidden;
}
/* livvic-500italic - latin */
@font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Livvic';
      font-style: italic;
      font-weight: 500;
      src: url('../fonts/livvic-v14-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* livvic-600 - latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Livvic';
      font-style: normal;
      font-weight: 600;
      src: url('../fonts/livvic-v14-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* livvic-700 - latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Livvic';
      font-style: normal;
      font-weight: 700;
      src: url('../fonts/livvic-v14-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
.container{
      max-width: 1130px;
      margin: 0 auto;
      padding: 0 10px;
}
.menu{
      width: 100%;
      position: fixed;
      height: 0;
      top: 125.33px;
      left: 0;
      background-color: #2C6269;
      z-index: 500;
      padding: 0 40px;
      overflow: hidden;
      transition: all 0.3s linear;
      display: none;
      @include media(540px){
            display: flex;
      }
}
.menu.active{
      height: auto;
      padding: 40px;
      transition: all 0.3s linear;
}
.bars span{
      transition: transform 0.7s linear(0.98-5.88%,-0.24 65.2%,-0.28 18.63%, 1.01 45.59%);

}
.bars.active span:nth-child(2){
      display: none;
      transition: transform 0.3s linear(0.98-5.88%,-0.24 65.2%,-0.28 18.63%, 1.01 45.59%);
}
.bars.active span:nth-child(1){
      transform: rotate(45deg) translateY(4px);
      transition: transform 0.3s linear(0.98-5.88%,-0.24 65.2%,-0.28 18.63%, 1.01 45.59%);

}
.bars.active span:nth-child(3){
      transform: rotate(-45deg) translateY(-4px);
      transition: transform 0.3s linear(0.98-5.88%,-0.24 65.2%,-0.28 18.63%, 1.01 45.59%);
}
.header{
      background-color: #014E56;
      padding-top: 73px;
      padding-bottom: 250px;
      @include media(768px){
            padding-top: 20px;
            padding-bottom: 100px;
      }
      .nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__left{
               display: flex;  
               align-items: center;
               gap: 80px;
               img{
                  cursor: pointer;
               }
               @include media(768px){
                  gap: 48px;
               }
               .nav__list{
                  display: flex;
                  align-items: center;
                  gap: 40px;
                  @include media(540px){
                        display: none;
                  }
                  a{
                    @include font(18, 28, 600, #fff);
                    transition: 0.3s;
                  }
                  a:hover{
                        color: #F67E7E;
                  }
               } 
            }
            &__right{
                  .nav-btn{
                        padding: 11px 33px;
                        border: 2px solid #fff;
                        border-radius: 30px;
                        background-color: transparent;
                        transition: 0.3s;
                        @include media(540px){
                              display: none;
                        }
                        @include font(18, 28, 600, #fff);
                        &:hover{
                              background-color: white;  
                              color: #002529; 
                              cursor: pointer;  
                        }
                  }
                  .bars{
                        display: none;
                        flex-direction: column;
                        gap: 4px;
                        span{
                              width: 20px;
                              height: 3px;
                              background-color: #fff;
                        }
                        @include media(540px){
                              display: flex;
                        }
                  }
                  .nav__list2{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        a{
                              @include font(18, 28, 600, #fff);
                              transition: 0.3;
                              &:hover{
                                    color: #F67E7E;
                              }
                        }
                        .nav-btn2{
                              width: auto;
                              padding: 11px 33px;
                              border: 2px solid #fff;
                              border-radius: 30px;
                              background-color: transparent;
                              @include font(18, 28, 600, #fff);
                              &:hover{
                                    background-color: white;  
                                    color: #002529; 
                                    cursor: pointer;  
                              }
                        }
                  }
            }
      }
      .main{
            padding-top: 130px;
            @include media(768px){
                  padding-top: 70px;
            }
            &__content{
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  gap: 30px;
                  @include media(768px){
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        gap: 24px;
                  }
                  &__left{
                        max-width: 550px;
                        @include media(375px){
                              max-width: 327px;
                        }
                        h1{
                              font-size: 100px;
                              line-height: 100px;
                              @include font(100px, 100px, 700, #fff);
                              @include media(768px){
                                    font-size: 64px;
                                    line-height: 56px;
                              }
                              @include media(375px){
                                    font-size: 40px;
                                    line-height: 40px;
                              }
                        }
                        span{
                              @include font(100px, 100px, 700, #F67E7E)
                        }
                  }
                  &__right{
                        .line{
                              @include media(768px){
                                    display: none;
                              }
                        }
                        .texts{
                              max-width: 445px;
                              margin-top: 79px;
                              @include media(768px){
                                    max-width: 500px;
                                    margin-top: 10px;
                              }
                              p{
                                    font-size: 18px;
                                    line-height: 28px;
                                    @include font(18px, 28px, 600, #fff);
                                    @include media(768px){
                                          font-size: 15px;
                                    }
                              }
                        }

                  }
            }
      }
}
.section{
      .sec1{
            padding: 140px 0;
            background-color: #012F34;
            @include media(768px){
                  padding: 80px 0;
            }
            &__content{
                  display: flex;
                  justify-content: space-between;
                  align-items: flex-start;
                  gap: 125px;
                  @include media(768px){
                        flex-direction: column;
                        align-items: center;
                        gap: 24px;
                  }
                  &__left{
                        
                        .texts2{
                              max-width: 445px;
                              margin-top: 79px;
                              @include media(768px){
                                    max-width: 500px;
                                    margin-top: 10px;
                              }
                              h1{
                                    font-size: 48px;
                                    line-height: 48px;
                                    @include font(48px, 48px, 700, #fff);
                                    @include media(768px){
                                          font-size: 32px;
                                    }
                              }
                        }   
                  }
                  &__right{
                        margin-top: 56px;
                        display: flex;
                        flex-direction: column;
                        gap: 32px;
                        @include media(375px){
                              align-items: center;
                              text-align: center;
                        }
                       .easy{
                        display: flex;
                        align-items: center;
                        gap: 23px;
                        @include media(375px){
                              flex-direction: column;
                              align-items: center;
                              text-align: center;
                        }
                        .abou{
                              max-width: 445px;
                              display: flex;
                              flex-direction: column;
                              text-align: top;
                              gap: 16px;
                              h2{
                                    font-size: 18px;
                                    line-height: 28px;
                                    @include font(18px, 28px, 700, #F67E7E);
                              }
                              p{
                                    font-size: 15px;
                                    line-height: 25px;
                                    @include font(15px, 25px, 700, #fff);
                              }
                        }
                       }
                  }
            }
      }
      .sec2{
            padding: 140px 0;
            background-color: #004047;
            &__content{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 56px;
                  &__tex{
                        max-width: 932px;
                        @include media(768px){
                              max-width: 573px;
                        }
                        h1{
                              text-align: center;
                              font-size: 48px;
                              line-height: 48px;
                              @include font(48px, 48px, 700, #fff);
                              @include media(768px){
                                    font-size: 32px;
                                    line-height: 32px;
                                    font-weight: 700;
                              }
                              span{
                                    color: #79C8C7;
                              }
                        }
                  }
                  &__cards{
                        display: flex;
                        align-items: center;
                        gap: 30px;
                        @include media(768px){
                              flex-direction: column;
                              gap: 48px;
                        }
                        .card{
                              max-width: 350px;
                              display: flex;
                              flex-direction: column;
                              align-items: center;
                              text-align: center;
                              gap: 24px;
                              @include media(768px){
                                    max-width: 573px;
                              }
                              .tex{
                                    p{
                                          font-size: 15px;
                                          line-height: 25px;
                                          font-weight: 600;
                                          color: #fff;
                                          z-index: 1;
                                    }
                              }
                              .client{
                                    display: flex;
                                    flex-direction: column;
                                    gap: 32px;
                                    h3{
                                          font-size: 18px;
                                          line-height: 28px;
                                          color: #79C8C7;
                                          font-weight: 600;
                                    }
                                    p{
                                          font-size: 13px;
                                          line-height: 18px;
                                          color: #fff;
                                          font-style: italic;
                                    }
                              }
                        }
                  }
            }
      }
      .sec3{
            padding: 76px 0;
            background-color: #F67E7E;
            &__content{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  @include media(630px){
                        flex-direction: column;
                        text-align: center;
                        gap: 24px;
                  }
                  &__left{
                        max-width: 504px;
                        h1{
                              font-size: 48px;
                              line-height: 48px;
                              color: #012F34;
                              font-weight: 700;
                        }
                  }
                  &__right{
                        
                        button{
                              padding: 11px 33px;
                              border: 2px solid #012F34;
                              border-radius: 30px;
                              background-color: transparent;
                              @include font(18, 28, 600, #012F34); 
                              transition: 0.3s;
                              &:hover{
                                    background-color: #012F34;  
                                    color: #fff; 
                                    cursor: pointer;  
                              }
                        }
                  }
            }
      }
}
.footer{
      background-color: #002529;
      padding: 48px 0;
      &__content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include media(768px){
                  flex-direction: column;
                  text-align: center;
                  gap: 20px;
            }
            &__left{
                  display: flex;
                  align-items: center;
                  gap: 125px;
                  @include media(768px){
                        flex-direction: column;
                        gap: 40px;
                  }
                  .logo{
                        display: flex;
                        flex-direction: column;
                        gap: 25px;
                        img{
                              cursor: pointer;
                        }
                        @include media(427px){
                              align-items: center;
                              text-align: center;
                        }
                        &__list{
                              display: flex;
                              align-items: center;
                              gap: 40px;
                                    a{
                                          @include font(18, 28, 600, #fff);
                                          transition: 0.3s;
                                    }  
                                    a:hover{
                                          color: #F67E7E;
                                    }
                              
                        }
                  }
                  .cantact{
                        display: flex;
                        flex-direction: column;
                        p{
                              opacity: 0.6;
                              @include font(15, 25, 600, #fff)
                        }
                  }
            }
            &__right{
                  display: flex;
                  flex-direction: column;
                  align-items: flex-end;
                  gap: 51px;
                  @include media(427px){
                        align-items: center;
                        text-align: center;
                  }
                  .logos{
                        display: flex;
                        align-items: center;
                        gap: 16px;
                  }
                  .logos:hover img{
                        cursor: pointer;
                  }
                  p{
                        opacity: 0.6;
                              @include font(15, 25, 600, #fff)
                  }
            }
      }
}